/*D*/
tbody, td{
    border: dotted green
}
table{
    border-collapse: collapse;
}

tbody tr:nth-last-child(2n+1){
    background-color: yellow;
}

#dolgozat > .error{
    color: red
}

#dolgozat:has(a[href="cica.html"]:hover) label {
  background-color: yellow;
}
