table, thead, tbody, th, tr, td{
    border:1px solid green;
    border-collapse: collapse;
}

tbody tr:nth-child(2n+1){
    background-color: blue;
}

tr td:first-child{
    color: red;
}

tr td:last-child{
    color: red;
}