table, thead, tbody, tr, td, th{
    border-style: dotted;
    border-color: green;
    border-collapse: collapse;
}

tbody tr{
    background-color: yellow;
}

tbody tr:nth-child(2n+1){
    background-color: lightblue;
}

tbody tr:hover{
    color: red;
    font-weight: bold;
}

