table, thead, tbody, tr, td, th{
    border: 5px dotted;
    border-color: green;
    border-collapse: collapse;
}

thead{
    background-color: aqua;
}

tbody tr:nth-child(2n+1){
    background-color: red;
}

tbody tr:nth-child(2n){
    background-color: gray;
}