 table, thead, tbody, th, tr, td{
    border: dotted 1px black;
    border-collapse: collapse;
}

tr td:nth-last-child(3), td:last-child {
    background-color: blue;}


#gyakorlas button:has(+ p){
    background-color: red;
}


#gyakorlas button:not(:has(+ p)){
    color: green;
}

#gyakorlas button:has(+ button):not(:has(+ p)){
    background-color: rgb(75, 43, 43);
}

#gyakorlas:has(+a:hover) button{
    background-color: aqua;
}

tr:not(:has(td[rowspan]))+tr:not(:has(td[rowspan])):hover td{
    background-color: rgb(219, 145, 160);
}

tr:has(td[rowspan]):hover td{
    background-color: yellow;
}

tr:has(td[rowspan]):has(+tr:hover) td{
    background-color: purple;
}

tr:has(td[rowspan])+tr:hover td{
    background-color: rgb(63, 60, 60);
}

.marked{
    color: red;
}
