/*A*/
table, thead, tr, th, td, tbody{
    border: 1px solid black;
    border-collapse: collapse;
}

tr td:nth-last-child(3), td:last-child {
    background-color: yellow;}

input + .error{
    color: red;
}

.dolgozat:has(a[href="#"]:hover) label {
  border: 1px solid black;
}
